div {
    background-color: lightgray;
    height: 200px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
}
div:hover {
    background-color: pink;
}