body{
    font-family: 'Courier New', Courier, monospace;
}

table{
    width: 500px;
    border-collapse:collapse;
    margin: auto;
}

caption  {
    position: relative;
    left: 0;
    top: 0;
    background-color: rgba(185, 126, 241, 0.438);
    font-size: 1.6rem;
    color: transparent;
}

caption::after {
    content:"População das Unidades Federativas";
    color: black;
    position: absolute;
    left: 0;
    top: 0;

}



caption:hover::after{
    content: "Estados do país lixo(Brasil Ordem e Progresso)";
    text-align: center;
}


thead,tfoot {
    background-color: rgb(0, 0, 0);
    color: rgb(195, 0, 255);
}

td,th{
    border: 1px solid rgb(180, 49, 219);
    padding: 0.65rem;
    
}

tbody > tr{
    background-color: rgb(187, 133, 231);
}


tbody > tr:nth-child(2n){
    background-color: rgba(127, 43, 175, 0.747);
    
}


td:nth-child(2){
    text-align: right;
}

tfoot tr > td {
    font-weight: 900;
    color: rgb(166, 59, 236);
    background-color: rgba(0, 0, 0, 0.678);
    font-family: Arial, Helvetica, sans-serif;
}